@charset "utf-8";
/* CSS Document */
body {
	background-color: #008080;
	background-image: url('/img/bg.jpg');
	background-size: cover;
	overflow: hidden;
	overflow: none;
	color: #000;
	font-size: 130%;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
a {
	color: #000;
}
img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	
	user-drag: none; 
	-webkit-user-drag: none;
}
.icon {
	text-align: center;
	font-family: "Pixelated MS Sans Serif",Arial;
	font-size: 15px;
	width: 64px;
	height: 100px;
	margin: 16px;
	float: left;
	overflow: hidden;
}


#mainMenu {
	position: absolute;
	left: 5px;
	width: 300px;
	overflow:overlay;
	z-index: 100;
}
#mainMenuSideBar {
	background: rgb(0,0,126);
	background: linear-gradient(180deg, rgba(0,0,126,1) 70%, rgba(14,6,246,1) 85%, rgba(0,0,126,1) 100%);
	width: 15px;
	float:left;
}
#menuUL {
	margin-left: 20px;
}
.menuButton {
	width: 98%;
	text-align: left;
}
.menuText {
	font-size: larger;
}


#taskbar {
	position: absolute;
	left: -5px;
	width: 110%;
	height: 50px;
	z-index: 99;
}
.taskElement {
	float: left;
	text-align: left;
	height: 30px;
	margin: 5px;
	width: 200px;
}
#btnClock {
	float: right;
	height: 30px;
}

button.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

@media only screen and (max-width: 1000px) {
	.window, button, input, label, option, select, textarea, ul.tree-view {
		font-size: 20px;
	}
	
	#menuWind {
		width: 40vw;
	}
}